.postDetails {
  margin-top: 1.25rem;
  font-size: 0.875rem;
  span {
    display: inline-flex;
    align-items: center;

    svg {
      font-size: 1.25rem;
      margin-right: 0.5rem;
    }

    & + span {
      margin-left: 1.5rem;
    }
  }
}
